{# Dywee\ProductBundle\Resources\View\Eshop\table.html.twig #}

{%  extends "DyweeCMSBundle::admin.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-tools">
                        <a href="{{ path('product_gallery_add') }}" class="btn btn-success btn-box-tool"><i class="fa fa-plus"></i> Ajouter</a>
                    </div>
                    <h1 class="box-title">Liste des galleries de produits</h1>
                </div>
                {% if productGalleries|length > 0 or filterActive is defined and filterActive == true %}
                    <div class="box box-success">
                        {% include 'DyweeProductBundle:ProductGallery:miniTable.html.twig' %}
                    </div>

                {% else %}
                    <div class="box-body">
                        <p>Vous n'avez pas encore ajouté de gallerie de produit.</p>
                        <p><a href="{{ path('product_gallery_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter une gallerie</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>






{% endblock %}