{# Dywee\ProductCMSBundle\Resources\View\ProductContainer\edit.html.twig #}

{%  extends "DyweeProductCMSBundle::admin.html.twig" %}

{% block metaTitle %}
    Ajout d'un container de produit
{% endblock %}


{% block body %}

    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h1 class="box-title">Ajout d'un container de produit</h1>
            </div>
            <div class="box-body">
                {% include "DyweeProductCMSBundle:ProductContainer:form.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}
