<div class="fh5co-grid animate-box"
     style="background-image: url({{ asset('img/work-1.jpg') }});">
    <a class="image-popup text-center" href="{{ path('product_cms_view', {id: element.product.id}) }}">
        <div class="prod-title">
            <h3>{{ element.product.name }}</h3>
            <span>John Doe</span>
        </div>
    </a>
</div>