{# Dywee\ProductCMSBundle\Resources\View\LatestProductContainer\edit.html.twig #}

{%  extends "DyweeProductCMSBundle::admin.html.twig" %}

{% block metaTitle %}
    Modification de la configuration {{ parent() }}
{% endblock %}


{% block body %}

    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h1 class="box-title">Modification de la configuration</h1>
            </div>
            <div class="box-body">
                {% include "DyweeProductCMSBundle:LatestProductContainer:form.html.twig" %}
            </div>
        </div>

    </div>
{% endblock %}
