{# Dywee\EshopBundle\Resources\View\Eshop\browseByCategory.html.twig #}

{% extends "DyweeEshopBundle::layout.html.twig" %}

{% block metaTitle %}
    Marque: {{ brand.name }}{{ parent() }}
{% endblock %}

{% block bodyContent %}
    <h1>{{ brand.name }}</h1>
    {% for product in productList %}
        {% include '@DyweeProductBundle/Eshop/preview-product.html.twig' %}
    {% endfor %}
{% endblock %}
